*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.wrapper{
    max-width: 1600px;
    margin: auto;
}
.title{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 48px;
    line-height: 50px;
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}
.title::after {
    content: '';
    display: inline-block;
    background-image:url(./blob.svg);
    width: 186px;
    height: 34px;
    position: absolute;
    right: -41px;
    bottom: -8px;
    z-index: -1;
}
.shop-photos{
    display: flex;
    justify-content: space-between;
}
.shop-photos__content{
    display: flex;
    justify-content: space-between;
}
.shop-photos__title{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #191919;

}
.shop-photos__subtitle{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #7F7F7F;
}


